<%- include("partials/header.ejs") %>
<body>
    <main>
        <hr /> 
        <div class="main-container">
            <h1 style=" color: #176B87;"> Welcome to my blog website! </h1>
            <h3 style=" color: #176B87;">This website is a blog creation website. Users can create a list of tasks to be done. 
                When a task is completed, users can click on the box. This will strike through 
                the text to indicate that the task is complete. The website is also divided into two categories:
                <li> 1. Today </li>
                <li> 2. Work. </li>
                This is to help users to organize their tasks for the day.
            </h3>
            <hr style="width:100%;text-align:left;margin-left:0">
            <h4 style=" color: #176B87;">
                Note: This website was created to study back-end development using Express.js of JavaScript. 
                Embedded JavaScript templates (EJS) were used to create this website. The author is writing EJS for the first time.
                If there are any problems, please accept my apologies.
            </h4>
            <hr /> 
            <hr /> 
            <p style=" color: #176B87;"> 
                Author: 0Phonlakit 
            </p>
            <hr /> 
            <hr /> 
            <hr /> 
            <div class="grid-container">
                <div class="grid-item">
                    <a href="https://github.com/0Phonlakit"> <i class="fa-brands fa-github fa-3x fa-fade" style="--fa-animation-duration: 3s; --fa-fade-opacity: 0.4; color: #176B87;" > </i> </a>
                </div>
                <div class="grid-item">
                    <a href="https://www.instagram.com/plk_few/"> <i class="fa-brands fa-instagram fa-3x fa-fade" style="--fa-animation-duration: 4s; --fa-fade-opacity: 0.4; color: #176B87"> </i> </a>
                </div>
                <div class="grid-item">
                    <a href="mailto:phonlakit.leel@mail.kmutt.ac.th"> <i class="fa-solid fa-envelope fa-3x fa-fade" style="--fa-animation-duration: 5s; --fa-fade-opacity: 0.4; color: #176B87"> </i> </a>
                </div>
            </div>
        </div>
    </main>
<%- include("partials/footer.ejs") %>
